<p>Hello <%= @user.email %>,</p>

<p>We will be performing scheduled maintenance on our systems. The maintenance will begin on <%= @scheduled_time.strftime('%d %B %Y %H:%M') %>.</p>

<p>Thank you for your understanding!</p>
