<h1> <b>Articles</b> </h1> 

Our blog has <%= Article.public_count %> published articles.

<% if user_signed_in? %>
<% private_articles = Article.private_count(current_user) %>
<% response = "You have #{private_articles} private articles" %>
<% response = "You dont have any private articles" if private_articles == 0 %>
<% response = "You have 1 private article" if private_articles == 1 %>

<%= response %>
<% end %>

<ul>
  <% @articles.each do |article| %>
    <% if article.public? || ( user_signed_in? && article.user_id == current_user.id ) %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>
